<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
</head>
<body>
    <ul>
        <% for(let commentI of commentData){%>
            <li style:"style:none"><h3> <%=commentI.username%> :</h3> <b> <%=commentI.comment %> </b><a href='/comment/individual/<%=commentI.id%>'>Details</a></li>
        <% } %>
            
    </ul>
    <a href="http://localhost:8080/comments/new">Add a new comment</a>
</body>
</html>